@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


/* Page Formatting */

* {
	margin:0;
	padding:0;
	}

html {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
	background-color:#ffffff;
	font:12px;
	color:#555555;
	text-align:center;
}
a {
	color:#555555;
	text-decoration:none;
	}
a:hover {
	color:#555555;
	text-decoration:none;
	}
/* visited link */
a:visited {
  	color: darkblue;
	}

img, img a {
	border:0;
	}

p {
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

h1 {
	font-size:24px;
}

h2 {
	font-size:18px;
}

h3 {
	font-size:14px;
}

/* Header Area */

#header{
  	min-height: 6vh;
	}
	
#header h1{
	margin:25px 0 0 0;
	background:#ffffff;
	padding:5px 0px 5px 20px;
}




/* Content Area */
#content {
	width:800px;
	margin:10px 0 0 0px;
	float:left;
}



#content h2 {
	margin: 0 20px 0 20px;
	padding: 20px 5px 0 5px;
	border-bottom: 5px solid #215F9A;
}

#content p {
	margin: 0 20px 0 20px;
	padding: 10px 5px 0 5px;
}

#content p img {
	float:left;
	padding-right:15px
}

#content table {
	border-collapse: collapse;
	width: 80%;
	text-align: center;
	background:#ffffff;
}

#content table td {
	background:#ffffff;
	text-align: center;
}

#content form {
width:450px; 
padding:10px;  
}

#content form label { 
	display:block; 
	float:left; 
	width:100px; 
	text-align:right; 
	padding-right:10px;
	margin-left:-15px; 
	margin-bottom:0.5em;
}

#content form input {
	border:1px solid #fff;
	background:#FFFFA0;
	padding-left:0.5em; 
	margin-bottom:0.6em;
}

#content form #send, form #button2 {
	background:#FFFFA0;
	padding-right:0.5em; 
	cursor:pointer; 
	width:200px;  
	margin-left:125px;
	font-weight:bold;
	color:#555555;
}

#content form #send:hover, form #button2:hover {
	background-position:center left; 
	color:#8BBC70;
	font-weight:bold;
}

/* Sidebar Area */

#sidebar {
	width:203px;
	margin:50px 30px 0 0px;
	background: url(images/bg-sidebar.gif) repeat top right;
	border:1px solid #dfdfdf;
	float:right;
}

#sidebar h3 {
	padding:10px 10px 0px 10px;
	text-align:center;
	border-bottom:2px solid #dfdfdf;	
}

#sidebar p {
	margin:0 20px 0 0px;
	padding:5px 10px 10px 10px;
}

#sidebar img {
	width:90px;
	margin:0px 0px 5px 5px;
	float:left;
	border:2px solid #dfdfdf;	
}


#sidebar ul.side {
	padding:5px 10px 10px 30px;
}

#sidebar ul.side li {
	padding: 1px 0 1px 0;
	
}

#sidebar ul.side li a {
	text-decoration:underline;
	color:#555555;	
}

#sidebar ul.side li a:hover {
	color:#8bbc70;	
}

#sidebar form .user_box {
	margin:0px 10px 10px 10px;
	width:100px;
}

#sidebar form .button {
	margin:0px 0px 10px 0px;
	background:url(images/top_group_bg.gif) repeat top left;
}

#sidebar_two {
	width:203px;
	margin:40px 30px 0 0px;
	background:#ffffff;
	float:right;
}

#sidebar_two h3 {
	padding:0px 10px 0px 10px;
	text-align:center;
	border-bottom:2px solid #dfdfdf;	
}

#sidebar_two img {
	width:90px;
	margin:5px 0px 5px 5px;
	float:left;
	border:2px solid #dfdfdf;	
}

/* Footer Area */
#footer {
	clear:both;
	width: 693px;
	margin:0 auto 0 auto;
	padding:55px 0 0 0;
	background:url(images/bottom_curve.gif) no-repeat top left;
}

#footer p {
	text-align:center;
	margin:0;
	padding:0px;
	line-height:1.3em;
}
